<mat-list *ngIf="!loading" #part>
  <mat-list-item *ngFor="let participant of participants">
    <img matListAvatar [src]="'assets/images/' + participant.imageSrc">
    <div class="mat-list-option-content">
      <h3 matLine> {{participant.name}} {{participant.surname}} </h3>
      <p matLine>
        <span> {{participant.location}} </span>
        <span class="demo-2"> - {{participant.company}} </span>
      </p>
    </div>
    <div class="mat-selection-list-actions">
      <i routerLink="/meetup/part/{{participant.id}}" class="material-icons">&#xE3C9;</i>
      <i (click)="onDeleteParticipants(participant)" class="material-icons">&#xE16C;</i>
    </div>
  </mat-list-item>
</mat-list>

<mat-progress-spinner *ngIf="loading" class="example-margin" [color]="'primary'" [mode]="'indeterminate'" [value]="50">
</mat-progress-spinner>
